* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 2em;
  background-color: #ffffff;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.instructions {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #777;
}

.btn-find {
  display: inline-block;
  background-color: #007bff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 18px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-find:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.btn-find:active {
  transform: scale(0.9);
}

#studentInfo {
  padding-top: 20px;
  padding-left: 50px;
  transition: opacity 1s, transform 1s;
  opacity: 0;
  transform: translateY(20px);
  font-size: 18px;
  line-height: 1.6;
}

#studentInfo h2 {
  font-size: 26px;
  color: #007bff;
  margin-bottom: 20px;
}

#studentInfo.show {
  opacity: 1;
  transform: translateY(0);
}

.gift-message {
  font-size: 36px;
  text-align: center;
  color: #007bff;
  margin: 20px 0;
  font-weight: bold;
}

/* Media queries for responsiveness */
:root {
  /* Define CSS variables for colors */
  --background-color: #ffffff;
  --font-color: #333;
  --primary-color: #007bff;
  --hover-color: #0056b3;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

@media screen and (-ms-high-contrast: active) {
  /* High contrast colors for Microsoft browsers */
  :root {
    --background-color: Window;
    --font-color: WindowText;
    --primary-color: Highlight;
    --hover-color: Highlight;
    --shadow-color: WindowText;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 2em;
  background-color: var(--background-color);
  color: var(--font-color);
}

.btn-find {
  background-color: var(--primary-color);
  color: white;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-find:hover {
  background-color: var(--hover-color);
}
.container {
  box-shadow: 0px 0px 10px 0px var(--shadow-color);
}

.instructions {
  font-size: 1.25rem; /* Use rem for font sizes */
  color: var(----font-color);
}